@model  IEnumerable<BookStoreWebApi.Models.Order>

@{
    ViewData["Title"] = "Orders";
}

<h2>Ваши заказы</h2>

<table class="table table-striped">
    <tr>
        <td><a>Номер заказа</a></td>

        <td><a>Дата оформление заказа</a></td>

        <td><a>Дата доставки</a></td>

        <td><a>Цена</a></td>

        <td><a>Книжки</a></td>

        <td><a>Коль-во</a></td>
    </tr>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.OrderId</td>
            <td>@order.DateOrder</td>
            <td>@order.DateDeliver</td>
            <td>@order.DeliverPrice</td>
            <td>
                @foreach (var book in order.OrderBooks.Select(p => p.Book).ToList())
                {
                    @book.NameOfBook
                    
                }
            </td>
            <td>
                @foreach(var count in order.OrderBooks.Select(p => p.CountCopy).ToList())
                {
                    @count
                }
            </td>
        </tr>
    }
</table>
